<div class="mt-32">

    <div class="flex justify-center text-2xl text-slate-500">

        <div class="flex flex-col">
    
            <div>

                <span>Dashboard</span>

                <form action="/apps/events/create" method="post">
                    <label for="type">Type:</label>
                    <input type="text" id="type" name="type" value=""><br>
                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" value=""><br>
                    <label for="location">Location:</label>
                    <input type="location" id="location" name="location" value=""><br>
                    <button>Submit</button>
                </form>    

            </div>

        </div>

    </div>

</div>