<div class="mt-32">
    <div  class="grid grid-cols-2 gap-16">
        <TMPL_LOOP NAME="templates">
            <a href="/apps/events/%key%/create">
                <div class="h-200 border-2 border-sky-500 text-center p-4 rounded-lg ">
                    %name%
                </div>
            </a>
        </TMPL_LOOP>
    </div>
</div>



<!-- <form action="/apps/events/create" method="post">
                    <label for="type">Type:</label>
                    <input type="text" id="type" name="type" value=""><br>
                    <label for="date">Date:</label>
                    <input type="datetime-local" id="date" name="date" value=""><br>
                    <label for="location">Location:</label>
                    <input type="location" id="location" name="location" value=""><br>
                    <button>Submit</button>
                </form>     -->