<TMPL_IF name="isAdmin">
    <div class="flex justify-end gap-2">
        <a class="border-2 border-solid border-sky-500 rounded-lg p-2 bg-sky-500 text-white" href="%adminRoute%">
            <code>Dashboard</code>
        </a>
    </div>
</TMPL_IF>

<span class="text-lg pb-8" >Upcoming Events:</span>
<div class="flex justify-center mt-16">
    <div class="flex flex-col gap-4 w-64">
        <TMPL_LOOP NAME="events">
            <a class="border-2 border-solid border-sky-500 rounded-lg p-2 bg-sky-500 text-white" href="/apps/events/%id%">%type%</a>
        </TMPL_LOOP>
    </div>
</div>
    